{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "ie >=11"
              ]
            }
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "ie >=11"
              ]
            }
          }
        ]
      ]
    },
    "esm": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "ie >=11"
              ]
            },
            "modules": false
          }
        ]
      ]
    }
  }
}
