{
  "extends": [
    "xo",
    "prettier"
  ],
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 90
      }
    ],
    "no-unused-expressions": "off"
  },
  "plugins": [
    "prettier"
  ]
}